body {
    font-family: Arial, sans-serif;
    margin: 20px;
}
label {
    display: block;
    margin-bottom: 5px;
}
input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
}
ul {
    list-style-type: none;
    padding: 0;
}
li {
    margin-bottom: 10px;
}
.edit {
    color: white;
    background-color: blue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
}
.delete {
    color: white;
    background-color: brown;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
}
.btn {
    color: black;
    background-color: darksalmon;
    cursor: pointer;
}